@font-face {
    font-family: 'Raleway', sans-serif;
    src: url("fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
/* box-sizing est appliqué à tous les éléments */
box-sizing: border-box; /* Opera/IE 8+ */
-moz-box-sizing: border-box; /* Firefox, autres Gecko */
-webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}

/* les couleurs de la charte graphique sont entrées dans des variables, taille de police racine en vw pour faciliter le responsive */
:root {
    --bleu: #0065FC;
    --bleu-light: #DEEBFF;
    --gris: #F2F2F2;
    font-size: 1vw;
}

html {
    margin: auto;
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    color: black;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

header, #recherche, main {
    width: 100%;
    padding: 0 2.6%;
}

/**--- HEADER ---**/

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    #logo {
        width: 7.5%;
        padding-top: 40px;
    }
        #logo img {
            width: 100%;
        }

    /**---- NAVIGATION ----**/
        nav {
            right:0;
            font-size: clamp(8px, 110%, 40px);
        }
            nav ul {
                display: flex;
                margin: 0;    
            }

        /**    nav ul li {
                padding: 2.5% 15px 0 15px;
                text-align: center;
            }**/
            nav a {
                display: block;
                padding: 40px 25px 0 25px;
                border-top: 2px solid white;
                color: black;
            }
            nav a:hover {
                border-top: 2px solid var(--bleu);
                color:var(--bleu);
            }


    /**---- BASELINE ----**/
        #baseline {
            width:100%
        }

            H1 {
                font-size: clamp(8px, 160%, 40px);
                font-weight: 900;
                margin-top: 3%;
                margin-bottom: 1%;
            }
            #underbsln {
                font-size: clamp(8px, 114%, 40px);
            }

/**--- ZONE DE RECHERCHE ---**/

#recherche {
margin: 2% 0;
font-size: clamp(8px, 120%, 40px);
}

#form form {
    display: flex;
}
    #form i {
        background-color: var(--gris);
        padding: 1.1% 1.2%;
        border: 2px solid var(--gris);
        border-radius: 30% 0 0 30%;
        font-size: clamp(8px, 120%, 40px);
    }

    #ville {
        width: 18%;
        margin-left: -5px;
        padding: 1.1%;
        border-color: var(--bleu-light);
        border: 2px solid var(--gris);
        font-weight: 700;
        color: black;
        }

        #ville::placeholder {
            font-family: 'Raleway';
            color: black;
            opacity: 1;
        }

    #ville-submit_dsk {

        left: 28%;
        margin-left: -4px;
        padding: 0.9%;
        background-color: var(--bleu);
        border: 2px solid var(--bleu);
        border-radius: 0 0.9vw 0.9vw 0;
        font-weight:600;
        color: white;
    }
    #ville-submit_dsk:hover {
        cursor: pointer;
    }

    #ville-submit_mob {
        display: none;
    }

#filtres {
    display: flex;
    margin: 2.3% 0;
}

#filtres_titre, .filtres_txt {
    padding: 1rem;
    font-weight: 700;
}

#filtres_titre {
    margin-right: 2.5%;
    padding: 1rem 0;
}

.filtres {
    display: flex;
    margin-right: 2.5%;
}

    .filtres:hover {
        margin-top: -1px;
        background-color: var(--bleu-light);
        border-radius: 2vw;
        box-shadow: -1px 3px 5px rgba(0,0,0,0.5);
        color: var(--bleu);
        cursor: pointer;
    }

.filtres_txt {
    height: 3.5vw;
    margin-left: -3vw;
    padding-left: 4vw;
    padding-right: 1.5vw;
    border: 2px solid var(--gris);
    border-left: hidden;
    border-radius: 2vw;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.filtres_txt:hover {
    border-color: var(--bleu-light);
}

.filtres_icon i {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    background-color: var(--bleu-light);
    z-index: 1;
    color: var(--bleu);
    text-align: center;
    font-size: clamp(8px, 120%, 40px);
}

#info {
    display: inline;
    font-size: clamp(8px, 95%, 40px);
}
#info_icon  {
    display: inline-flex;
    display: -webkit-inline-flex;
    margin-right: 0.5%;
}

#info_icon i {
    display: inline-flex;
    display: -webkit-inline-flex;
    width: 2vw;
    height: 2vw;
    background-color: unset;
    border: 2px solid var(--gris);
    font-size: clamp(8px, 80%, 40px);
}
    #info_txt {
        display: inline-flex;
        display: -webkit-inline-flex;
    }


/**--- ZONE DE RESULTATS ---**/

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


h2 {
    font-size: clamp(8px, 155%, 40px);
    padding: 0;
    margin: 0 0 clamp(15px, 1.5rem,30px) 0;
    width: 100%;
}

.eur {
    font-weight: 600;
}

.rslts {
    margin-bottom: 2rem;
    padding: 3rem;
    border-radius: 1.5rem;
    background-color: var(--gris);
}

    .cards {
        min-width: 31%;
        /**min-height: 150px;**/
        margin: 0 0 clamp(20px,1rem,30px) 0;
        padding: 0.4rem;  
        border-radius: 1.5vw;
        background-color: white;
        box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.1);
    }

        .cards:hover {
            margin-top: -1px;
            box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.5);
        }

        
        .rating {
            padding: 4% 0 2% 0;
            font-size: clamp(8px, 80%, 40px);
        }
            .rating i {
                padding: 0;
            }
            .positif {
                color: var(--bleu);
            }
            .none {
                color: var(--gris);
            }

    #plus {
        width: 100%;
        margin-top: 15px;
        font-size: clamp(8px, 130%, 40px);
        font-weight: 700;
    }

    

/**-----------HEBERGEMENTS-------------------**/

#hbgts {
    width: 65%;
    margin-right: 2.4%;
}

    #hbgts_cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

        .card_hbgt {
            width: 30%;
        }

            .card_img {
                display: flex;
                height: 8rem;
                border-radius: 1.2vw 1.2vw 0 0;
                overflow: hidden;
            }

            .card_img img {
                width: 100%;
                object-fit: cover;
            }

            .card_desc {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 3% 6% 0;
                font-size: clamp(8px, 100%, 40px);
            }

            h4 {
                margin: 2% 0 3% 0;
                font-weight: 900;
                font-size: clamp(8px, 110%, 40px);
            }

            .prix_eco {
                font-weight: bold;
            }

    #plus:hover {
        cursor: pointer;
    }


    /**-----------POPULAIRES-------------------**/
    #populaires {
        position: relative;
        width: 32%;
    }

        .h2_caps {
            display: flex;
            justify-content: space-between;
        }

        #pop_cards {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            padding-bottom: 8%;
        }


            .card_pop {
                display: flex;
                flex-direction: row;
                margin-bottom: clamp(8px, 1rem, 40px);
            }

                .card_pop_img {
                    display: flex;
                    min-width: 9rem;
                    max-width: 9rem;
                    height: 9.5rem;
                    border-radius: 1.2vw 0 0 1.2vw;
                    overflow: hidden;
                }

                    .card_pop_img img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                /** .card_pop_desc {
                    justify-content: start;
                }**/

                .card_pop_desc {
                    position: relative;
                }

            .rating_pop {
                padding-bottom: 5px;
                font-size: clamp(8px, 80%, 40px);
            }

            .card_pop_desc_2 {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
            }

/**-----------ACTIVITES-------------------**/
    #actvts {
        width: 100%;
        margin-top: 2rem;
        padding: 0;
        background-color: unset;
    }

    #act_rslts {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 33.3rem;
    }
        .card_act {
            display: flex;
            flex-direction: column;
            width: 22.5%;
            min-width: unset;
            min-height: unset;
            padding: 0;
            overflow: hidden;
        }

            .card_act_img {
                position: relative;
                order: -1;
                height: 100%;
                overflow: hidden;
            }

                .card_act_img img {
                    position: absolute;
                    width: 100%;
                    object-fit: cover;
                }
            
            #act_rslts .card_desc {
                margin-bottom: 0.5vw;
            }

        #act_1,
        #act_4
        {
            height: 100%;
            margin-right: 2.5%;
        }

        .card_act:nth-child(2),
        .card_act:nth-child(3) {
            margin-right: 2.5%;
        }

        #act_2 {
            height: 51%;
        }

                #act_2 .card_act_img img {
                    position: absolute;
                    transform: translate(0, -20%);
                }

        #act_3 {
            height: 37%;
        }

        #act_5 {
            height: 42%;
        }

        #act_6 {
            height: 47%;
        }
    
                #act_6 .card_act_img img {
                    position: absolute;
                    transform: translate(0, -20%);
                }

/** footer**/
footer {
    display: flex;
    width: 100%;
    padding: 3.5rem;
    background-color: var(--gris);
}

    .footerblock {
        width: 33.3%;
    }

        h3 {
            margin: 0 0 1.5rem 0;
            font-weight: bold;
            font-size: clamp(8px, 130%, 40px);
        }

        .footerlink a {
            font-size: clamp(8px, 115%, 40px);
            line-height: 2em;
            color:black;
            transition: padding-left 1s ease;
        }

            .footerlink a:hover {
                padding-left: 1rem;
                border-left: 2px solid black;
            }



/**--------------------------------------------------------------------
                CSS MOBILE VIEWPORT < 768px
--------------------------------------------------------------------**/
@media screen and (max-width: 768px) {
    
    html {
        width: 100vw;
    }    
    body {
        margin: 0;
        padding: 0;
    }
        /**--- HEADER ---**/
        header {
            padding: 0;
        }

            #logo {
                width: 100%;
                height: 70px;
                background-image: url(images/logo/booki.png);
                background-size: 25%;
                background-repeat: no-repeat;
                background-position: 50% 75%;
            }
                #logo img {
                    display: none;
                }

            /**---- NAVIGATION ----**/
            nav {
                width: 100%;
                margin: 20px 0;
                font-size: 420%;
                font-weight: 400;
            }
                nav ul {
                    display: flex;
                    padding: 0;
                }

                    nav ul li {
                        width: 50%;
                        text-align: center;
                    }
                
                        nav a {
                        padding: 7%;
                        border-top: unset;
                        border-bottom: 4px solid var(--gris);
                        }

                        nav a:hover {
                            border-top: unset;
                            border-bottom: 4px solid var(--bleu);
                            color: var(--bleu);
                        }

            /**---- BASELINE ----**/
            #baseline {
                padding: 0 30px;
            }

                h1 {
                    margin: 5px 0 15px 0;
                    font-size: 600%;
                    font-weight: 700;
                }

                #underbsln {
                    font-size: 440%;
                }


            /**--- ZONE DE RECHERCHE ---**/

            #recherche {
                padding: 0 4.5%;
                margin: 35px 0 20px 0;
                font-size: 460%;
            }

                /**---- formulaire ville ----**/

                #form form {
                    display: flex;
                }
                
                #form i {
                    font-size: inherit;
                    padding: 4.5% 5%;
                }

                #ville {
                    width: 75%;
                    margin-left: unset;
                    padding: 4% 6% 4% 4%;

                }

                    #ville::placeholder {
                        font-size: inherit;
                        color: black;
                        font-weight: 700;
                        vertical-align: baseline;
                    }
            
                    #ville-submit_dsk {
                        display: none;
                    }

                    #ville-submit_mob {
                        position: relative;
                        display: inline-block;
                        z-index: 1;
                        margin-left: -10px;
                        padding: 4.5% 5%;
                        border: 2px;
                        border-radius: 30%;
                        background-color: var(--bleu);
                    }

                    #ville-submit_mob i {
                        background-color: transparent;
                        border: none;
                        color: var(--gris);
                    }
                        #ville-submit_mob_button {

                            z-index: 1;
                            width: ;
                            height: ;

                            border: none;
                            border-radius: 30%;
                            background-color: var(--bleu);
                        }

                        #ville-submit_mob_button:hover {
                            cursor: pointer;
                        }

                /**---- zone de filtres ----**/    
                #filtres {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-top: 30px;
                }

                    #filtres_titre {
                        width: 100%;
                        margin-bottom: 3.5%;
                    }

                    .filtres {
                        margin-bottom: 12px;
                        margin-right: 0;
                    }

                        .filtres:hover {
                            border-radius: 80px;
                        }
                    
                        .filtres_icon {

                        }
                            .filtres_icon i {
                                width: 50px;
                                height: 50px;
                            }

                        .filtres_txt {
                            height: unset;
                            margin-left: -40px;
                            border: 3px solid var(--gris);
                            border-radius: 80px;
                            padding: 12px 20px 12px 50px;
                            line-height: 1.3;
                        }

                            .filtres_txt:hover {
                                border-color: var(--bleu-light);
                            }

                    #info {
                        display: flex;
                        margin-top: 40px;
                    }

                        #info_icon {
                            width: 50px;
                            height: 50px;
                            margin-top: -1%;
                            margin-right: 15px;
                            border: 3px solid var(--gris);
                            border-radius: 50%;
                        }

                            #info_icon i {
                                width: 100%;
                                height: 100%;
                                font-size: 20px;
                            }


            /**--- ZONE DE RESULTATS ---**/
            main {
                padding: 0;
            }

                h2 {
                    margin: 40px 0;
                    font-size: 600%;
                }

                .cards {
                    padding: 10px;  
                    border-radius: 35px;
                    font-size: 320%;
                }

                .card_img {
                    max-width: unset;
                    height: 55%;
                    border-radius: 35px 35px 0 0;
                }

                /**---- Hébergements ----**/
                #hbgts {
                    width: 100%;
                    padding: 2.75%;
                    background-color: unset;
                }

                    .card_hbgt {
                        width: 100%;
                    }

                    h4 {
                        margin: 5px 0 5px 0;
                        font-size: clamp(8px, 130%, 40px);
                        font-weight: 700;
                    }

                /**---- POPULAIRES ----**/
                #populaires {
                    width: 100%;
                    border-radius: 0;
                    background-color: var(--gris);
                    padding: 35px;
                    order: -1;
                }

                    .card_pop {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 20px;
                    }

                        .card_pop_img {
                            order: -1;
                            display: flex;
                            width: 35%;
                            min-width: unset;
                            max-width: none;
                            height: 250px;
                            margin-right: 20px;
                            border-radius: 30px 0 0 30px;
                        }

                        .card_pop_desc {
                            width: 61%;
                            padding: 15px;
                        }

                        .rating_pop {
                            font-size: clamp(8px, 80%, 40px);
                        }

                /**---- ACTIVITES ----**/
                #actvts {
                    margin-top: unset;
                    padding: unset;
                }
                #act_rslts {
                    height: unset;
                }
                .card_act {
                    width: 100%;
                }

                    .card_act_img {
                        display: flex;
                        height: 55%;
                        max-width: unset;
                        border-radius: 12px 12px 0 0;
                        overflow: hidden;
                    }

            /**--- FOOTER --**/
            .footerblock {
                width: 100%;
            }
}
