@font-face {

        font-family: "Raleway";
        src: url("fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
    }

    * {
    /* box-sizing est appliqué à tous les éléments */
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
    }

    :root {
        --bleu: #0065FC;
        --bleu-light: #DEEBFF;
        --gris: #F2F2F2;
        font-size: 1vw;
    }

html {
        width: 100vw;
    }    
    body {
        margin: 0;
        padding: 0;
    }
        /**--- HEADER ---**/
        header {
            padding: 0;
        }

            #logo {
                width: 100%;
                height: 125px;
                background-image: url(images/logo/booki.png);
                background-size: 165px;
                background-repeat: no-repeat;
                background-position: 50% 75%;
            }
                #logo img {
                    display: none;
                }

            /**---- NAVIGATION ----**/
            nav {
                width: 100%;
                margin: 30px 0;
                font-size: 29px;
                font-weight: 400;
            }
                nav ul {
                    display: flex;
                    padding: 0;
                }

                    nav ul li {
                        width: 50%;
                        text-align: center;
                    }
                
                        nav a {
                        padding: 7%;
                        border-top: unset;
                        border-bottom: 5px solid var(--gris);
                        }

                        nav a:hover {
                            border-top: unset;
                            border-bottom: 5px solid var(--bleu);
                            color: var(--bleu);
                        }

            /**---- BASELINE ----**/
            #baseline {
                padding: 0 30px;
            }

                h1 {
                    margin: 25px 0;
                    font-size: 39px;
                    font-weight: 700;
                }

                #underbsln {
                    font-size: 28px;
                }


            /**--- ZONE DE RECHERCHE ---**/

            #recherche {
                padding: 4.5%;
                margin: 30px 0 20px 0;
                font-size: 30px;
            }

                /**---- formulaire ville ----**/

                #form form {
                    display: flex;
                }
                
                #form i {
                    z-index: 1;
                    padding: 30px;
                    font-size: 30px;
                }

                #ville {
                    width: 74%;
                    height: 95px;
                    padding: 25px;
                    padding-top: 30px;
                }

                    #ville::placeholder {
                        font-size: 35px;
                        color: black;
                        font-weight: 700;
                        vertical-align: baseline;
                    }
            
                    #ville-submit_dsk {
                        display: none;
                    }

                    #ville-submit_mob {
                        display: inline-block;
                        z-index: 1;
                        margin-left: -35px;

                    }

                    #ville-submit_mob i {
                        background-color: var(--bleu);
                        padding: 4.5%;
                        border: 2px solid var(--bleu);
                        color: var(--gris);
                        font-size: 30px;
                    }
                        #ville-submit_mob_button {
                            z-index: 1;
                            width: 94px;
                            height: 94px;
                            border: none;
                            border-radius: 30%;
                            background-color: var(--bleu);
                        }

                        #ville-submit_mob_button:hover {
                            cursor: pointer;
                        }

                /**---- zone de filtres ----**/    
                #filtres {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-top: 50px;
                }

                    #filtres_titre {
                        width: 100%;
                        margin-bottom: 3.5%;
                    }

                    .filtres {
                        margin-bottom: 20px;
                    }
                    
                        .filtres_icon {
                            width: 90px;
                            height: 90px;
                        }
                            .filtres_icon i {
                                width: 100%;
                                height: 100%;
                            }

                        .filtres_txt {
                            height: unset;
                            margin-left: -80px;
                            border: 4px solid var(--gris);
                            border-radius: 80px;
                            padding: 20px 30px 20px 90px;
                            line-height: 1.3;
                        }

                    #info {
                        display: flex;
                        margin-top: 40px;
                    }

                        #info_icon {
                            width: 50px;
                            height: 50px;
                            margin-top: -1%;
                            margin-right: 15px;
                            border: 3px solid var(--gris);
                            border-radius: 50%;
                        }

                            #info_icon i {
                                width: 100%;
                                height: 100%;
                                font-size: 20px;
                            }


            /**--- ZONE DE RESULTATS ---**/
            main {
                padding: 0;
            }

                h2 {
                    margin: 40px 0;
                    font-size: 40px;
                }

                .cards {
                    padding: 10px;  
                    border-radius: 35px;
                    font-size: 25px;
                }

                .card_img {
                    max-width: unset;
                    height: 55%;
                    border-radius: 35px 35px 0 0;
                }

                /**---- Hébergements ----**/
                #hbgts {
                    width: 100%;
                    padding: 2.75%;
                }

                    .card_hbgt {
                        width: 100%;
                    }

                    h4 {
                        margin: 5px 0 5px 0;
                        font-size: clamp(8px, 130%, 40px);
                        font-weight: 700;
                    }

                /**---- POPULAIRES ----**/
                #populaires {
                    width: 100%;
                    border-radius: 0;
                    background-color: var(--gris);
                    padding: 35px;
                    order: -1;
                }

                    .card_pop {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 20px;
                    }

                        .card_pop_img {
                            display: flex;
                            height: 250px;
                            margin-right: 20px;
                            border-radius: 30px 0 0 30px;
                        }

                        .card_pop_desc {
                            width: 61%;
                            padding: 15px;
                        }

                        .rating_pop {
                            font-size: clamp(8px, 80%, 40px);
                        }

                /**---- ACTIVITES ----**/
                #actvts {
                    margin-top: unset;
                    padding: unset;
                }
                #act_rslts {
                    height: unset;
                }
                .card_act {
                    width: 100%;
                }

                    .card_act_img {
                        display: flex;
                        height: 55%;
                        max-width: unset;
                        border-radius: 12px 12px 0 0;
                        overflow: hidden;
                    }

            /**--- FOOTER --**/
            .footerblock {
                width: 100%;
            }
